<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/dashboard']">Monitor</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/cremoto']">Control remoto</a>
            </li>
        </ul>
        <span class="dropdown">
            <button class="dropdown-toggle btn btn-md btn-outline-light" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mis datos
            </button>
            <div class="dropdown-menu dropdown-menu-right animated fadeInRight" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" [routerLink]="['/user']"  routerLinkActive="active" ><i class="fas fa-user"></i> Datos personales</a>
                <a class="dropdown-item" [routerLink]="['/estadisticas']" routerLinkActive="active"> <i class="fas fa-chart-line"></i> Estadisticas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="['/login']" routerLinkActive="active"><i class="fas fa-power-off"></i> Logout</a>
            </div>
        </span>
    </div>
</nav>