<div class="container animated bounceInUp  margin-top-30 card bg-light">
    <div class="card-body">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Correo electronico</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Contraseña</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Dirección</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Calle X, Numero Y">
            </div>
            <div class="form-group">
                <label for="inputAddress2">Segunda dirección</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Calle X, Numero Y">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">Ciudad</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="Ciudad X">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">Pais</label>
                    <select id="inputState" class="form-control">
          <option selected>Paises</option>
          <option>...</option>
        </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Codigo postal</label>
                    <input type="text" class="form-control" id="inputZip" placeholder="Codigo X">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Actualizar datos</button>
        </form>
    </div>
</div>